body{
  font-family:'google'sans-serif;
}

  .container{
	width: 100% !important;
	padding: 0 !important;
	
}
.header-section{
  padding-bottom: 20px
}
img{
	width: 100%;
}
.logo{
  width: 200px;
  }
 .carousel-inner>.item>img {
    line-height: 1;
    height: 420px !important;
}
.register{
  float: right !important;
}
.reg-btn{
	color: white;
  float: right;
    background: none;
    width: 200px;
    border: 1px solid white;
    border-radius: 22px;
    font-size: 22px !important;
    height: 50px;
   

}
.reg-btn:hover {
  background-color: #008CBA;
  color: white;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    color: #39f;
    font-size: 22px;
}
.main-content {
    position: absolute;
    width: 50%;
    display: block;
    margin-left: -100px;
    bottom: 20px;
}
.main-content2 {
    position: absolute;
    width: 50%;
    display: block;
    margin-left: -145px;
    bottom: 65px;
}
.main-content3 {
    position: absolute;
    width: 68%;
    display: block;
    margin-left: -114px;
    bottom: 50px;
}
.main-content3,h3{
  font-size: 18px;
}
h4{
    font-size: 18px;
    padding: 10px;
  }
.page2{
   position: absolute !important;
    width: 55% !important;
    display: block !important;
    margin-left: -100px !important;
   bottom: 20px !important;
}
.maincontent,h1{
	font-size: 26px !important;
  color: #39f !important;
}
p{
	font-size: 18px;
  font-family: sans-serif;
}
.no-border{
	border: none !important;
}
.trial-btn {
    width: 150px;
    height: 40px;
    border-radius: 22px;
    border-color: #39f;
    background: none;
}
.main-content3,.trial-btn{
  margin-top: 0px;
}
nav {
    position: absolute;
     overflow: hidden;
    top: 18px;
    padding: 0 100px;
    width: 100%;
    margin: 0 auto !important;
    color: wheat;
}
.card{
      width: 100%;
    margin: 0 auto;
    border: 1px solid beige;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}


.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-body{
  padding: 20px;
  height: 300px;
}
.card-section{
  margin-top: 40px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
.container{
  width: 100% !important;
  padding: 0 !important;
  
}
.carousel-inner>.item>img {
    line-height: 1;
    height: 330px !important;
}
.logo {
    width: 150px;
    margin-left: -80px;
}
.main-content {
    position: absolute;
    width: 100%;
    display: block;
    right: 0px;
    bottom: 0;
}
.main-content2 {
    position: absolute;
    width: 100%;
    display: block;
    margin-left: 0px;
    bottom: 40px;
}
.main-content3 {
    position: absolute;
    width: 100%;
    display: block;
    margin-left: 0;
    bottom: 0;
}
h3{
  font-size: 18px !important;
}
.trial-btn {
    width: 130px;
    height: 35px;
    font-size: 22px;
    border-radius: 22px;
    border-color: #39f;
    background: none;
}
.main-content,h1{
  font-size: 18px !important;
  color: white;
}
.main-content3, .trial-btn {
    margin-top: 10px;
}
.card{
  margin: 10px 0;
}
}
/*tablet view */
@media only screen and (max-width: 968px) and (min-width: 520px) {
.main-content {
    position: absolute;
    width: 100%;
    display: block;
    margin-left: 0px;
    bottom: 20px;
}
.logo {
    width: 200px;
    margin-left: -80px;
}
.maincontent, h1 {
    font-size: 18px !important;
    color: #39f !important;
}
.main-content2 {
    position: absolute;
    width: 100%;
    display: block;
    margin-left: 0;
    bottom: 35px;
}
.main-content3 {
    position: absolute;
    width: 68%;
    display: block;
    margin-left: -65px;
    bottom: 6px;
}
.carousel-inner>.item>img {
    line-height: 1;
    height: 350px !important;
}
.trial-btn {
    margin-top: 20px !important;
}
.card{
  margin: 10px 0;
}
}
@media only screen and (max-width: 1300px) and (min-width: 1020px) {
.main-content {
    position: absolute;
    width: 55%;
    display: block;
    margin-left: -90px;
    bottom: 0px;
}
.main-content2 {
    position: absolute;
    width: 50%;
    display: block;
    margin-left: -100px;
    bottom: 0px;
}

}